$GreyDark: #6b717f;
$white: #fff;
$GreyLight: #8C8C8C;
$GreyBas: #6b717f;
$black: #000;
$pink: #BF4080;
$green: green;
$red: red;
$orange: orange;
$px16: 16px;
$px32: $px16*2;
$gradient1: rgb(153, 3, 153);
$gradient2: rgb(252, 252, 124);