/*---------------------------------------début css--------------------------------*/
@import "_variables.scss";
@import "_mixin.scss";

body {
    font: 100% "Space Mono", monospace;
    color: $GreyDark;
    margin: 0;
    padding: $px16;
    background-color: $white;
    overflow-x: hidden;
    .advantages {
        @for $i from 0 to 7
         {
            & li:nth-child(#{$i}) {
                background: lighten($gradient1, $i * 10%);
                color: darken($gradient2, $i * 5%);
            }
        }
    }
}
header {
    h1 {
    color: $pink;  
    text-align: center;
    }  
}

main {
    @include Padding
}

article {
    display: flex;
    flex-wrap: wrap;
    h2 {
        color: $pink;
    }
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $GreyLight solid;
        @include BoxShadow($pink);
        padding: $px16;
        margin: $px16;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        &#selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
    code {
        background: $black;
        border: 1px solid $GreyDark;
        color: $GreyLight;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        &.before {
            @include FloatLeft
        }
        &.after {
            @include FloatRight
        }
    }
}
.messages {
    padding: $px16;
}

%border {
        border: 1px solid $GreyLight;
        padding: $px16;
        color: $white;
}
    .success {
        @extend %border;
        background-color: $green;
    }
    .error {
        @extend %border;
        background-color: $red;
        &:hover {
            background: $green;
        }
    }
    .warning {
        @extend %border;
        background-color: $orange;
    }
h3 {
    color: $pink;
    text-align: center;
    font-size: 1.5em;
    padding: $px32;
    margin-bottom: 0px;
    }